* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --round-sm: 4px;

  --space-xs: 12px;
  --space-sm: 16px;
  --space-md: 24px;

  --sm: 1.2rem;
  --md: 1.6rem;

  --font: sans-serif;

  --color-white: #ffffff;
  --color-primary: #202124;
  --color-secondary: #171717;
  --color-ligth: #303134; /*Buttons color*/
  --color-border: #5f6368; /*Buttons border color when active*/
  --color-apps-hover: #2f3034;
  --color-apps-active: #38393d;
  --color-link: #4585f1;
  --color-search-background: #202124;
  --color-search-border: #5f6368;
}

body {
  font-family: var(--font);
  font-size: var(--md);

  background: var(--color-primary);
}

img {
  display: block;
}
