.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);

  padding: var(--space-md);
}

.main p {
  font-size: var(--sm);

  color: var(--color-white);
}

.main a {
  text-decoration: none;
  color: var(--color-link);
}

.main a:hover {
  text-decoration: revert;
}