.search {
  width: 100%;
}

.search__bar {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  margin-bottom: var(--space-md);
  border: 1px solid var(--color-search-border);
  border-radius: 20px;
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  max-width: 588px;
  height: 44px;

  background: var(--color-search-background);
  overflow: hidden;
}

.search__bar:hover,
.search__bar:focus-within {
  box-shadow: 0 1px 8px var(--color-secondary);
  border: 1px solid hsla(0, 0%, 0%, 0);

  background: var(--color-ligth);
}

.search__lupa {
  display: grid;
  place-content: center;

  width: 40px;
  height: 100%;
}

.search__input {
  border: none;
  height: 100%;
  width: 100%;

  font-size: var(--md);

  background: rgba(0, 0, 0, 0);
  color: var(--color-white);
}

.search__input:focus-visible {
  outline: none;
}

.search__mic-button {
  display: grid;
  place-content: center;

  border: none;
  width: 40px;
  height: 100%;

  background: rgba(0, 0, 0, 0);
}

.search__buttons {
  display: flex;
  justify-content: center;
  gap: var(--space-xs);
}

.search__button {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: var(--round-sm);
  padding: var(--space-xs) var(--space-sm);

  font-size: var(--sm);

  background: var(--color-ligth);
  color: var(--color-white);
  cursor: pointer;
}

.search__button:hover {
  border-color: var(--color-border);
}